@import '../../../styles/settings.scss';

.root {
  display: flex;
  opacity: 0;
  transition: opacity 1s ease 0.2s;

  &.visible {
    opacity: 1;
  }

  .titleTile {
    padding: 0 30px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../../../assets/experience-bg-sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;

    .title {
      color: $font-color-first;
    }
  }

  .contentTile {
    padding: 30px;
    flex: 1 1 auto;
    background-color: $white-opacity-02;
    background-image: url('./../../../assets/experience-bg-sm.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-blend-mode: screen;

    .elementsContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}


/* MEDIA QUERIES */

@media screen and (min-width: 320px) and (max-width: 700px) {
  .root {
    flex-wrap: wrap;

    .titleTile {
      height: 300px;

      .title {
        font-size: $header-size-sm;
      }
    }

    .contentTile {
      padding: 0;
    }
  }
}


@media screen and (min-width: 701px) and (max-width: 1000px) {
  .root {
    flex-wrap: wrap;
  }
}
