@import '../../../styles/settings.scss';

.root {
  position: relative;
  padding-top: 1px;
  opacity: 0;
  transition: opacity 1s ease 0.2s;

  &.visible {
    opacity: 1;
  }

  .title {
    color: $font-color-first;
  }

  .elementsContainer {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: $white-opacity-02;
  }

  .element {
    padding: 0 15px 15px;
    width: 40%;
    flex: 1 1 auto;
    color: $font-light;
    background-color: $black-opacity-07;

    &:first-child {
      flex: 1 1 100%;
    }

    .subtitle {
      color: $font-color-first;
    }

    .list {
      list-style-type: none;
      padding: 0;

      .listItem {
        padding-left: 30px;
        font-style: italic;
        text-indent: -2.5rem;
      }

      .iconMark {
        color: $font-color-first;
        margin-right: 10px;
      }
    }

    .link {
      color: $font-color-link-primary
    }

    .link:hover {
      color: $font-color-first;
    }

    .link:active {
      color: $font-color-link;
    }
  }
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../../../assets/experience-bg-sm.jpg');
  background-repeat: repeat;
  background-position: 50% 0;
  filter: grayscale(100%) brightness(170%);
  z-index: -1;
}


/* MEDIA QUERIES */

@media screen and (min-width: 320px) and (max-width: 700px) {
  .root {
    .title {
      font-size: $header-size-sm;
    }

    .elementsContainer {
      padding: 0;
    }

    .element {
      flex: 0 1 100%;
    }
  }
}
