@import "settings.scss";

//@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: $base-size;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-first;
  font-size: 1.8rem;
  color: $font-dark;
  font-weight: 400;
  line-height: 1.7;
}











h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1, h2 {
  font-family: 'Almendra', serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-family: 'Almendra', serif;
  //font-size: 2.5rem;
  font-size: 7rem;
  font-weight: 500;
}

h4 {
  //font-size: 1.6rem;

  font-size: 2.5rem;
}
