$base-size: 10px;

// 'Roboto Slab', serif;
// 'Roboto', sans-serif, "Open Sans", Helvetica, Arial;

/* Fonts */

$font-first: 'Roboto Serif', serif, Helvetica, Arial;
$font-second: 'Almendra', serif, Helvetica, Arial;

$header-size-sm: 13vw;

/* Colors */

$bg-dark: rgb(0, 0, 0);
$bg-light: rgb(255, 255, 255);
$bg-brown: rgb(110, 54, 17);
$bg-color-first: rgb(255, 255, 0);
$bg-color-second: rgb(255, 115, 0);

$font-light: rgb(255, 255, 255);
$font-dark: rgb(0, 0, 0);

$font-color-first: rgb(255, 255, 0);
$font-color-second: rgb(255, 115, 0);
$font-color-link-primary: rgb(0, 171, 238);
$font-color-link: rgb(212, 15, 140);

/* Opacities */

$yellow-opacity-02: rgba(255, 255, 0, .2);
$yellow-opacity-05: rgba(255, 255, 0, .5);
$yellow-opacity-07: rgba(255, 255, 0, .7);

$orange-opacity-07: rgba(246, 89, 4, .7);

$white-opacity-02: rgba(255, 255, 255, .2);
$white-opacity-06: rgba(255, 255, 255, .6);

$black-opacity-02: rgba(0, 0, 0, .2);
$black-opacity-06: rgba(0, 0, 0, .6);
$black-opacity-07: rgba(0, 0, 0, .7);
$black-opacity-08: rgba(0, 0, 0, .8);


/* Mixins */

@mixin hover-animation($all: false, $color-time: 0.3s, $bg-color-time: 0.3s) {
  @if ($all) {
    transition: all 0.3s;
  } @else {
    transition: color $color-time, background-color $bg-color-time;
  }
}

